* {
    margin: 0;
    padding: 0;
}

.batch {
    width: 100%;
    /* background-color: rgb(0, 255, 42); */
    margin: auto;
}

header {
    height: 150px;
    width: 100%;
    margin: auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
    height: 100%;
    /* background-color: red;  */
    text-align: center;
}

.logo img {
    width: 70%;
    height: 90%;
}

.menu {
    width: 70%;
    /* background-color: aliceblue; */
    padding-right: 40px;
}

.menu nav ul {
    text-align: right;
}

.menu nav ul li {
    display: inline-block;
    padding: 15px 10px;
    background-color: rgb(45, 199, 21);
    border-radius: 10px;
}

.menu nav ul li a {
    color: black;
    text-decoration: none;
    font-style: italic;
    text-transform: capitalize;
    font-size: 30px;
}

.main {
    width: 100%;
    height: 780px;
    margin: auto;
    background-image: url("./e-commerce-.jpg");
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
}

.box {
    /* height: 350px; */
    width: 700px;
    background-color: rgb(52, 236, 212);
    margin: auto;
    /* padding-top: 50px; */
    padding-left: 50px;
    color: rgb(123, 19, 221);
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 40px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: blueviolet;
}

.end {
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
}